/* For mobile devices: */
/* ------------------- */
/* */
body {
    background-color: #ECECEC;
    margin-left: 10px;
    margin-right: 10px;
}
/** /
SUMMARY BLOCK
/**/
div.summary-block {}
div.summary-block h1 {}
div.summary-block p {
    line-height: 22px;
}
div.summary-block p a {
    text-decoration: underline;
    color: #3a3a3a;
    display: block;
    text-align: right;
    margin-right: 20px;
}
div.summary-block h2 i {
    float: right;
}
div.ciphers-desc {}
div.cipher-desc {
    margin-top: 7px;
    margin-bottom: 7px;
    border: 3px solid #5d5d5d;
    border-radius: 5px;
}
div.cipher-desc h2 {
    background-color: #5d5d5d;
    color: white;
    padding: 5px 5px 8px;
    margin: 0;
}
div.cipher-desc p {
    padding: 8px;
    line-height: 22px;
}
/** /
SETTINGS BLOCK
/**/
div.block {}
div.settings {
    text-align: center;
}
div.settings select {
    width: 100%;
    height: 30px;
    font-size: 16px;
}
div.settings button {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 150px;
    border-radius: 5px;
}
div.settings button.button-lg {
    width: 100%;
    height: 30px;
    font-size: 16px;
    margin-bottom: 10px;
}
div.input-block {}
div.input-block span {}
div.input-block input {
    width: 100%;
}
div.input-block textarea {
    resize: none;
    width: 100%;
    height: 100px;
}
div.input-block input, div.input-block textarea {
    display: block;
    margin: 10px auto;
    text-align: center;
}
/** /
SOLUTIONS BLOCK
/**/
div.solution-box {
    height: 300px;
    overflow-y: scroll;
}
div.solution-box h2 {}
div.solution-box table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
}
div.solution-box table tr th {
    background-color: #c3c3c3;
    text-align: center;
}
div.solution-box table tr {}
div.solution-box table tr.alt {
    background-color: #e3e3e3;
}
div.solution-box table tr td {
    padding: 8px;
    text-align: center;
}
@media only screen and (min-width: 667px) {
    /* For iPhone 6+++ landscape mode: */
    /** /
    SUMMARY BLOCK
    /**/
    div.summary-block {}
    div.summary-block h1 {}
    div.summary-block p {}
    div.summary-block p a {}
    div.summary-block h2 i {}
    div.ciphers-desc {}
    div.cipher-desc {}
    div.cipher-desc h2 {}
    div.cipher-desc p {}
    div.block {}
    div.settings {}
    div.settings select {}
    div.settings button {}
    div.settings button.button-lg {}
    div.input-block {}
    div.input-block span {}
    div.input-block input {}
    div.input-block textarea {}
    /** /
    SOLUTIONS BLOCK
    /**/
    div.solution-box {}
    div.solution-box h2 {}
    div.solution-box table {}
    div.solution-box table tr {}
    div.solution-box table tr.alt {}
    div.solution-box table tr td {}
}
@media only screen and (min-width: 768px) {
    /* For tablets: */
    /** /
    SUMMARY BLOCK
    /**/
    div.summary-block {}
    div.summary-block h1 {}
    div.summary-block p {}
    div.summary-block p a {}
    div.summary-block h2 i {}
    div.ciphers-desc {}
    div.cipher-desc {}
    div.cipher-desc h2 {}
    div.cipher-desc p {}
    div.block {}
    div.settings {}
    div.settings select {}
    div.settings button {}
    div.settings button.button-lg {}
    div.input-block {}
    div.input-block span {}
    div.input-block input {}
    div.input-block textarea {}
    /** /
    SOLUTIONS BLOCK
    /**/
    div.solution-box {}
    div.solution-box h2 {}
    div.solution-box table {}
    div.solution-box table tr {}
    div.solution-box table tr.alt {}
    div.solution-box table tr td {}
}
@media only screen and (min-width: 1024px) {
    /* iPad Pros:  */
    /** /
    SUMMARY BLOCK
    /**/
    div.summary-block {}
    div.summary-block h1 {}
    div.summary-block p {}
    div.summary-block p a {}
    div.summary-block h2 i {}
    div.ciphers-desc {}
    div.cipher-desc {}
    div.cipher-desc h2 {}
    div.cipher-desc p {}
    div.block {}
    div.settings {}
    div.settings select {}
    div.settings button {}
    div.settings button.button-lg {}
    div.input-block {}
    div.input-block span {}
    div.input-block input {}
    div.input-block textarea {}
    /** /
    SOLUTIONS BLOCK
    /**/
    div.solution-box {}
    div.solution-box h2 {}
    div.solution-box table {}
    div.solution-box table tr {}
    div.solution-box table tr.alt {}
    div.solution-box table tr td {}
}
@media only screen and (min-width: 1366px) {
    /* Desktop screens and iPad pro sideways: */
    /** /
    SUMMARY BLOCK
    /**/
    div.summary-block {}
    div.summary-block h1 {}
    div.summary-block p {}
    div.summary-block p a {}
    div.summary-block h2 i {}
    div.ciphers-desc {}
    div.cipher-desc {}
    div.cipher-desc h2 {}
    div.cipher-desc p {}
    div.block {}
    div.settings {}
    div.settings select {}
    div.settings button {}
    div.settings button.button-lg {}
    div.input-block {}
    div.input-block span {}
    div.input-block input {}
    div.input-block textarea {}
    /** /
    SOLUTIONS BLOCK
    /**/
    div.solution-box {}
    div.solution-box h2 {}
    div.solution-box table {}
    div.solution-box table tr {}
    div.solution-box table tr.alt {}
    div.solution-box table tr td {}
}
@media only screen and (min-width: 1500px) {
    /* Desktop screens 1500px - 1740px : */
    /** /
    SUMMARY BLOCK
    /**/
    div.summary-block {}
    div.summary-block h1 {}
    div.summary-block p {}
    div.summary-block p a {}
    div.summary-block h2 i {}
    div.ciphers-desc {}
    div.cipher-desc {}
    div.cipher-desc h2 {}
    div.cipher-desc p {}
    div.block {}
    div.settings {}
    div.settings select {}
    div.settings button {}
    div.settings button.button-lg {}
    div.input-block {}
    div.input-block span {}
    div.input-block input {}
    div.input-block textarea {}
    /** /
    SOLUTIONS BLOCK
    /**/
    div.solution-box {}
    div.solution-box h2 {}
    div.solution-box table {}
    div.solution-box table tr {}
    div.solution-box table tr.alt {}
    div.solution-box table tr td {}
}
@media only screen and (min-width: 1740px) {
    /* Desktop screens: */
    /** /
    SUMMARY BLOCK
    /**/
    div.summary-block {}
    div.summary-block h1 {}
    div.summary-block p {}
    div.summary-block p a {}
    div.summary-block h2 i {}
    div.ciphers-desc {}
    div.cipher-desc {}
    div.cipher-desc h2 {}
    div.cipher-desc p {}
    div.block {}
    div.settings {}
    div.settings select {}
    div.settings button {}
    div.settings button.button-lg {}
    div.input-block {}
    div.input-block span {}
    div.input-block input {}
    div.input-block textarea {}
    /** /
    SOLUTIONS BLOCK
    /**/
    div.solution-box {}
    div.solution-box h2 {}
    div.solution-box table {}
    div.solution-box table tr {}
    div.solution-box table tr.alt {}
    div.solution-box table tr td {}
}